.contact {
    background-color: var(--merino);
}

.contact__wrap {
    display: flex;
    gap: 30px;
}

.contact__side {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.contact__descr {
    text-wrap: balance;
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
}

.contact__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.contact__label {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: calc(50% - 15px);
    margin-bottom: 30px;
}

.contact__label--mess {
    width: 100%;
}

.contact__label::before {
    content: '';
    position: absolute;
    border-top: 1px solid var(--sc-med-gray);
    width: 100%;
    height: 2px;
    bottom: 40px;
}

.contact__input {
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 32px;
    background-color: transparent;
    padding: 5px;
}

.contact__input--mess {
    height: 100px;
    resize: none;
}

.contact__input::placeholder {
    font-size: 16px;
    padding: 5px 0;
}

.contact__input:focus {
    outline: none;
}

.contact__input:hover {
    background-color: var(--white);
}

.contact__input:focus {
    background-color: var(--white);
    outline: 1px solid var(--acc-col);
}

.btn-text::before {
    width: 100%;
    height: 100%;
    content: 'Send';
}

.contact__btn {
    position: relative;
    padding-right: 100px;
    background-color: transparent;
}

.contact__btn:hover {
    background-color: var(--white);
}

.contact__btn::before {
    position: absolute;
    width: 10px;
    height: 10px;
    content: '';
    right: 40px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-top: solid 2px var(--acc-col);
    border-right: solid 2px var(--acc-col);
}

.contact__btn::after {
    position: absolute;
    width: 30px;
    height: 10px;
    content: '';
    right: 40px;
    top: 50%;
    transform: translateY(-1px);
    border-top: solid 2px var(--acc-col);
}

.checkbox {
    cursor: pointer;
}

.checkbox__visual {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid var(--sc-med-gray);
}

.checkbox__visual,
.checkbox__text {
    vertical-align: middle;
}

.checkbox__visual::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    top: 3px;
    left: 2px;
    border-left: 2px solid var(--acc-col);
    border-bottom: 2px solid var(--acc-col);
    opacity: 0;
    transform: rotate(-45deg) scale(2);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
}

.checkbox__box:checked~.checkbox__visual::before {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
}

.checkbox:focus-within {
    outline: 1px solid var(--acc-col);
    outline-offset: 5px;
}

@media (width < 1040px) {
    .contact__descr {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (width < 760px) {
    .contact__descr {
        font-size: 30px;
    }

    .contact__form {
        flex-direction: column;
    }

    .contact__label {
        width: 100%;
    }
}

@media (width < 600px) {
    .contact__wrap {
        flex-direction: column;
    }

    .contact__side {
        width: 100%;
    }

    .contact__descr {
        font-size: 20px;
        line-height: 30px;
    }

    .contact__form {
        flex-direction: row;
    }

    .contact__label {
        width: calc(50% - 15px);
    }

    .contact__label--mess {
        width: 100%;
    }
}

@media (width < 450px) {
    .contact__form {
        flex-direction: column;
        flex-grow: 1;
    }

    .contact__label {
        width: 100%;
    }
}