.footer {
    background-color: var(--PR-baltic);
    color: var(--white);
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer__section_up {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer__logo-desc {
    order: 5;
}

.footer__section:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 106px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__link {
    color: var(--white);
}

.footer__section_down {
    color: var(--sc-light-gray);
    justify-content: center;
}