.gallery {
    background-color: var(--spanish);
}

.gallery__swiper-wrap {
    position: relative;
}

.gallery__slide-name {
    position: absolute;
    left: -70px;
    bottom: 10%;
    color: white;
    font-size: 70px;
    mix-blend-mode: difference;
    color: var(--PR-baltic);
    filter: brightness(1.5);
}

.swiper-3 .swiper-slide {
    position: relative;
}

.gallery .pagination-3 {
    bottom: -20px;
    z-index: 10;
}

.gallery .swiper-pagination-bullet-active {
    background: var(--PR-baltic);
}

.swiper-3 .swiper-wrapper {
    padding-left: 80px;
}

@media (width < 1040px) {
    .navigation-3 {
        left: -45px;
        width: calc(100% + 90px);
    }
}