.hero {
    /* background-image: url(/img/here_1.jpeg);
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    overflow: hidden;
}

.swiper-1 {
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.swiper-1 {
    position: absolute;
    overflow: hidden;
    animation-name: resize;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

.swiper-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper-1 .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(24, 26, 32, 0.50) 0%, rgba(24, 26, 32, 0.50) 100%);
    background-size: cover;
}

.hero__container {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__article {
    display: flex;
    flex-direction: column;
}

.hero__subtitle {
    color: var(--white2);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero__title {
    text-wrap: balance;
    color: var(--white2);
    text-align: center;
    font-size: 116px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero__nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.10);
    padding: 24px 50px;
    border-radius: 23px;
    align-self: center;
}

@media (width < 1040px) {
    .hero__title {
        font-size: 80px;
        line-height: 100px;
    }
}

@media (width < 760px) {
    .hero__title {
        font-size: 60px;
        line-height: 80px;
    }
}

@media (width < 600px) {
    .hero__nav {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }

    .hero__btn {
        padding: 15px 20px;
    }

}

@media (width < 450px) {
    .hero__btn:first-child {
        width: 100%;
    }

    .hero__btn:not(:first-child) {
        flex-grow: 1;
    }

    .hero__title {
        font-size: 40px;
        line-height: 50px;
    }
}