.hero {
    background-image: url(/img/here_1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__container {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    po
}

.hero__article {
    display: flex;
    flex-direction: column;
}

.hero__subtitle {
    color: var(--white2);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero__title {
    text-wrap: balance;
    color: var(--white2);
    text-align: center;
    font-size: 116px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero__nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.10);
    padding: 24px 50px;
    border-radius: 23px;
    align-self: center;
}