:root {
    /*colors*/
    --black: #000000;
    --PR-mir: #181A20;
    --PR-baltic: #262A34;
    --sc-med-gray: #7D7d7d;
    --sc-light-gray: #999999;
    --white: #ffffff;
    --white2: #fafafa;
    --pupkin: #FE7B1E;
    --apache: #E0BB68;
    --spanish: #DFD8BF;

    /*fonts*/
    --def-fs:
}