:root {
    /*colors*/
    --black: #000000;
    --PR-mir: #181A20;
    --PR-baltic: #262A34;
    --sc-med-gray: #7D7d7d;
    --sc-light-gray: #999999;
    --white: #ffffff;
    --white2: #fafafa;
    /* --pupkin: #FE7B1E; */
    --pupkin: #bfa76b;
    --apache: #E0BB68;
    --spanish: #DFD8BF;
    --merino: #F4F1E7;
    --gold: #bfa76b;

    /*fonts*/
    --def-fs:
}